<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classic</key>
	<array>
		<dict>
			<key>name</key>
			<string>Original</string>
			<key>imageName</key>
			<string>App</string>
			<key>iconName</key>
			<string>AppIcon</string>
		</dict>
	</array>
	<key>modern</key>
	<array>
		<dict>
			<key>name</key>
			<string>Blue</string>
			<key>imageName</key>
			<string>Blue</string>
			<key>iconName</key>
			<string>BlueIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dark</string>
			<key>imageName</key>
			<string>Dark</string>
			<key>iconName</key>
			<string>DarkIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Honeydew</string>
			<key>imageName</key>
			<string>Honeydew</string>
			<key>iconName</key>
			<string>HoneydewIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pride</string>
			<key>imageName</key>
			<string>Pride</string>
			<key>iconName</key>
			<string>PrideIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sandy</string>
			<key>imageName</key>
			<string>Sandy</string>
			<key>iconName</key>
			<string>SandyIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky</string>
			<key>imageName</key>
			<string>Sky</string>
			<key>iconName</key>
			<string>SkyIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Snow</string>
			<key>imageName</key>
			<string>Snow</string>
			<key>iconName</key>
			<string>SnowIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Starburst</string>
			<key>imageName</key>
			<string>Starburst</string>
			<key>iconName</key>
			<string>StarburstIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Storm</string>
			<key>imageName</key>
			<string>Storm</string>
			<key>iconName</key>
			<string>StormIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vista</string>
			<key>imageName</key>
			<string>Vista</string>
			<key>iconName</key>
			<string>VistaIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Winter</string>
			<key>imageName</key>
			<string>Winter</string>
			<key>iconName</key>
			<string>WinterIcon</string>
		</dict>
	</array>
</dict>
</plist>
